@{
    ViewData["Title"] = "Home Page";
}

<a href="/logout">Logout</a>
<h1>Welcome @ViewBag.UserName</h1>
<h4>Current Balance: <span id="border">$@String.Format("{0:0.00}",ViewBag.Account.Balance)</span></h4>
<br>
<form action="/process" method="post">
    <input type="hidden" name="accountId" value="@ViewBag.Account.AccountId">
    <input type="hidden" name="accountBalance" value="@ViewBag.Account.Balance">
    <label for="amount">Deposit/Withdraw:</label>
    <input type="number" name="quantity" step="any" size="6">
    <input type="submit">
    <p id="err">@ViewBag.NotEnough</p>
</form>
<hr>
<table border="1">
    <thead>
        <th>Amount</th>
        <th>Date</th>
    </thead>
    <tbody>
        @{
            foreach(var trans in ViewBag.Account.Transactions)
            {
                <tr>
                    <td>@String.Format("{0:0.00}", trans.Amount) dollars</td>
                    <td>@trans.Date.ToString("MMMM dd, yyyy")</td>
                </tr>
            }
        }
    </tbody>
</table>